<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
    <head>
           <title>GPU Store | Tecnología de punta a tu disposición</title>
           <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">          
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



                <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">


            <script type="text/javascript">

            var user = '{{request.user}}'
            

            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')

            function getCookie(name) {
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");

                // Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");

                    /* Removing whitespace at the beginning of the cookie name
                    and compare it with the given string */
                    if(name == cookiePair[0].trim()) {
                        // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }

                // Return null if not found
                return null;
            }
		    var cart = JSON.parse(getCookie('cart'))

            if (cart == undefined){
                cart = {}
                console.log('Cart Created!', cart)
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)

            </script>
     </head>
     <div id="toastContainer" class="position-fixed bottom-0 end-0 p-3">
        <!-- Toasts will be dynamically added here -->
      </div>
      
     <body style="font-family: 'Ubuntu', sans-serif;">
        <nav class="navbar navbar-expand-lg navbar-dark bg" style="border-bottom: 6px solid black; background-color: #7c4dff;">
            <div class="container-fluid d-flex align-items-center">
              <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}" style="margin-top: 0;">
                <img src="{% static 'images/gpu_logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="Logo">
                <div class="ms-2">
                  <span class="ms-2 mt-3">GPU STORE</span>
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Store</a>
                  </li>
                </ul>
                <button class="btn btn-dark shadow" id="btnSwitch">🌙</button>

                <div class="d-flex">
                    <button id="loginButton" class="btn btn-primary ms-2"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-user"></i>
                      </button>
                                      </div>

                <div class="d-flex align-items-center">
                  <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}" style="margin-top: 0;">
                  </a>
                  <p id="cart-total">{{ cartItems }}</p>
                </div>
              </div>
            </div>
          </nav>
          
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </symbol>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="bootstrap" viewBox="0 0 118 94">
              <title>Bootstrap</title>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>
            <symbol id="home" viewBox="0 0 16 16">
              <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </symbol>
            <symbol id="speedometer2" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
              <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
            </symbol>
            <symbol id="people-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </symbol>
            <symbol id="collection" viewBox="0 0 16 16">
              <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
            </symbol>
            <symbol id="calendar3" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </symbol>
            <symbol id="cpu-fill" viewBox="0 0 16 16">
              <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
              <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
            </symbol>
            <symbol id="gear-fill" viewBox="0 0 16 16">
              <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
            </symbol>
            <symbol id="speedometer" viewBox="0 0 16 16">
              <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
              <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
            </symbol>
            <symbol id="toggles2" viewBox="0 0 16 16">
              <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
              <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
              <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
            </symbol>
            <symbol id="tools" viewBox="0 0 16 16">
              <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
            </symbol>
            <symbol id="chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </symbol>
            <symbol id="geo-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
            </symbol>
          </svg>
        

          <div class="container my-5">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                  <a class="link-body-emphasis" href="{% url 'store' %}">
                    <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
                    <span class="visually-hidden">Home</span>
                  </a>
                </li>
                <li class="breadcrumb-item">
                  <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">GPU STORE</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ product.name }}
                </li>
              </ol>
            </nav>
          </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content" style="background: none; border: none; box-shadow: none;">
                    <section class="vh-100" >
                        <div class="container py-5 h-100">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-xl-10">
                              <div class="card" style="border-radius: 1rem;">
                                <div class="row g-0">
                                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="{% static 'images/login.png' %}" 
                                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                                  </div>
                                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                      
                                      <form>
                      
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img src="{% static 'images/gpu_logo.png' %}" width="40" height="40" class="me-3">
                                            <span class="h1 fw-bold mb-0">GPU STORE</span>
                                          </div>
                      
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa a tu cuenta</h5>
                      
                                        <div class="form-outline mb-4">
                                          <input type="email" id="form2Example17" class="form-control form-control-lg" />
                                          <label class="form-label" for="form2Example17">Email</label>
                                        </div>
                      
                                        <div class="form-outline mb-4">
                                          <input type="password" id="form2Example27" class="form-control form-control-lg" />
                                          <label class="form-label" for="form2Example27">Contraseña</label>
                                        </div>
                      
                                        <div class="pt-1 mb-4">
                                          <button class="btn btn-dark btn-lg btn-block" type="button">Ingresa</button>
                                        </div>
                      
                                        <a class="small text-muted" href="#!">¿Olvidaste tu Contraseña?</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes tu cuenta? <a id="registerLink" href="#!"
                                             style="color: #393f81;">Regístrate Aquí</a></p>
                                        <a href="#!" class="small text-muted">Términos y Condiciones,</a>
                                        <a href="#!" class="small text-muted">Política de Privacidad</a>
                                      </form>
                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                  </div>
                </div>
              </div>
        
              <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content" style="background: none; border: none; box-shadow: none;">
                    <section class="vh-100" >
                        <div class="container py-5 h-100">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-xl-10">
                              <div class="card" style="border-radius: 1rem;">
                                <div class="row g-0">
                                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="{% static 'images/register.png' %}" 
                                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                                  </div>
                                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                      
                                      <form id="registerForm">
                                        {% csrf_token %}

                      
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img src="{% static 'images/gpu_logo.png' %}" width="40" height="40" class="me-3">
                                            <span class="h1 fw-bold mb-0">GPU STORE</span>
                                          </div>
                      
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registra tu cuenta</h5>
                                        
                                        <div class="form-outline mb-4">
                                            <input type="text" id="name" class="form-control form-control-lg" />
                                            <label class="form-label" for="name">Nombre</label>
                                          </div>
                                        <div class="form-outline mb-4">
                                          <input type="email" id="form2Example17" class="form-control form-control-lg" />
                                          <label class="form-label" for="form2Example17">Email</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                          <input type="password" id="form2Example27" class="form-control form-control-lg" />
                                          <label class="form-label" for="form2Example27">Contraseña</label>
                                        </div>
                      
                                        <div class="pt-1 mb-4">
                                          <button id="registerButton" class="btn btn-dark btn-lg btn-block" type="button">Registrar</button>
                                        </div>
                      
                                        
                                        <a href="#!" class="small text-muted">Términos y Condiciones,</a>
                                        <a href="#!" class="small text-muted">Política de Privacidad</a>
                                      </form>
                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                  </div>
                </div>
              </div>
          
      
         <div class="container">
                <br>
                {% block content %}
                 {% endblock content %}
                <br>
         </div>
         
        

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Síguenos en Redes Sociales:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
            <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
            <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
            <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
            <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
          </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">GPU STORE</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                GpuStore nace como un proyecto de E-commerce que se centra en la venta de GPUS o Tarjetas Gráficas de alta gama, posteriormente su gama de productos se amplía.

              </p>
            </div>
            <!-- Grid column -->
  
          
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Navegación</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a  href="{% url 'store' %}"class="text-white">Tienda</a>
              </p>
              <p>
                <a  href="{% url 'home' %}" class="text-white">Home</a>
              </p>
              <p>
                <a  href="{% url 'store' %}" class="text-white">Login</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Maipú 1554, Concepción, Chile</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gpustore.cl</p>
              <p><i class="fas fa-phone mr-3"></i> + 69 420 80085</p>
              
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023
        <a class="text-white" 
   >By Antony and Pableks</a
  >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script>
// Get the register form and button elements
const registerForm = document.getElementById('registerForm');
const registerButton = document.getElementById('registerButton');

// Add click event listener to the register button
registerButton.addEventListener('click', function() {
  // Retrieve form data
  const nameInput = document.getElementById('name');
  const emailInput = document.getElementById('form2Example17');
  const passwordInput = document.getElementById('form2Example27');

  const name = nameInput.value;
  const email = emailInput.value;
  const password = passwordInput.value;

  // Serialize form data
  const formData = new FormData();
  formData.append('name', name);
  formData.append('email', email);
  formData.append('password', password);
  // ... Append other form data if needed

  // Send an AJAX request to the Django server
  fetch('/register/', {
    method: 'POST',
    body: formData,
    headers: {
      'X-CSRFToken': getCookie('csrftoken')
    }
  })
  .then(response => response.json())
  .then(data => {
    // Check if the registration was successful
    if (data.success) {
      // Display a success toast
      showToast('Registration successful!', 'bg-success');
      
      // Optionally, you can close the register modal or perform any other action
      $('#registerModal').modal('hide');
      // ...

    } else {
      // Handle any registration errors
      showToast('Registration failed. Please try again.', 'bg-danger');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
});

// Rest of the code...

// Rest of the code...


// Function to get the CSRF token from the cookie
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// Function to display the toast notification
function showToast(message, type) {
  const toastContainer = document.getElementById('toastContainer');

  // Create a new toast element
  const toastElement = document.createElement('div');
  toastElement.className = `toast ${type} text-white`;
  toastElement.setAttribute('role', 'alert');
  toastElement.setAttribute('aria-live', 'assertive');
  toastElement.setAttribute('aria-atomic', 'true');
  
  // Set the toast message
  toastElement.innerHTML = `
    <div class="toast-body">
      ${message}
    </div>
  `;

  // Add the toast element to the container
  toastContainer.appendChild(toastElement);

  // Create a new Bootstrap Toast instance
  const toast = new bootstrap.Toast(toastElement, { autohide: true, delay: 3000 });

  // Show the toast
  toast.show();

  // Remove the toast from the container after it's hidden
  toastElement.addEventListener('hidden.bs.toast', function() {
    toastElement.remove();
  });
}



</script>
<script>
  var myCarousel = document.getElementById('header');
  var carousel = new bootstrap.Carousel(myCarousel);
  var loginButton = document.getElementById('loginButton');


  // Add a click event listener to the login button
  loginButton.addEventListener('click', function() {
    // Trigger the modal to show
    $('#modalLoginForm').modal('show');
  });
  
</script>
<script>
// Get the register link element
const registerLink = document.getElementById('registerLink');

// Add click event listener to the register link
registerLink.addEventListener('click', function() {
  // Hide the login modal
  $('#exampleModal').modal('hide');

  // Clone the register modal content
  const registerModalContent = document.getElementById('registerModal').cloneNode(true);

  // Create a new modal element
  const registerModal = document.createElement('div');
  registerModal.className = 'modal fade';
  registerModal.id = 'registerModal';
  registerModal.setAttribute('tabindex', '-1');
  registerModal.setAttribute('aria-labelledby', 'registerModalLabel');
  registerModal.setAttribute('aria-hidden', 'true');

  // Append the register modal content to the new modal
  registerModal.appendChild(registerModalContent);

  // Add the new modal to the document body
  document.body.appendChild(registerModal);

  // Show the new modal
  $('#registerModal').modal('show');
});


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    document.getElementById('btnSwitch').addEventListener('click',()=>{
    if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme','light')
    }
    else {
        document.documentElement.setAttribute('data-bs-theme','dark')
    }
})</script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
     </body>
</html>